@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
*{
    font-family: 'Montserrat', sans-serif !important;
}
.draft-editor{
    min-height:200px;
    max-height: max-content
}
@tailwind base;
@tailwind components;
@tailwind utilities;